.profile-page {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    width: 100%;
    /*84 for the pop out look */
    height: fit-content;
    /* margin: 5% 8%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px; */
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.189);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.porfile-page-profile-section {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;

    img {
        width: 120px;
        border-radius: 100%;
    }

    h3,
    p {
        margin: 0;
        padding: 0%;
    }

    .ProfilePagefileinput {
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        margin: 5%;

        label {
            text-align: center;
            border: 2px solid #681487;
            width: fit-content;
            height: 30px;
            text-align: center;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border-radius: 10px;
        }
    }
}

.porfile-page-personal-section {
    width: 40%;
    padding: 2%;
    border-left: 1px solid rgba(128, 128, 128, 0.556);
    border-right: 1px solid rgba(128, 128, 128, 0.556);
    box-sizing: border-box;
}

.porfile-page-experience-section {
    width: 40%;
    padding: 2%;
    box-sizing: border-box;
}



/* For input feild  */
.ProfilePageInputfield {
    margin: 10px 0px;
    width: 100%;
    span {
        color: red;
    }
    .ProfilePageInputfield_error_msg {
        color: red;
        font-size: 12px;
    }
    label {
        font-size: 14px;
    }

    input {
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        margin-top: 5px;
        font-size: 12px;
        padding: 5px 10px;
        height: 40px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.6);
        border-radius: 5px;
        
        &::placeholder {
            color: rgba(128, 128, 128, 0.452);
        }
    }
    
}

/* for drop down  */
.ProfilePageDropdownFeild {
    margin: 10px 0px;
    width: 100%;
    span {
        color: red;
    }
    label {
        font-size: 14px;
    }
    
    select {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        margin-top: 5px;
        font-size: 12px;
        padding: 5px 10px;
        height: 40px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.6);
        border-radius: 5px;

        &::placeholder {
            color: rgba(128, 128, 128, 0.452);
        }
    }
}

/* For file type  */
.ProfilePagefileinput {

    input::file-selector-button {
        width: 50%;
        height: 30px;
        background-color: transparent;
        border: 2px dotted grey;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
    }
}

.porfile-page-experience-section {
    button {
        background-image: linear-gradient(to right, #18042B, #681487);
        color: white;
        width: 140px;
        height: 40px;
        border: none;
        border-radius: 10px;
        /* padding: 15px 30px; */
        font-size: 1em;
        font-weight: 700;
        margin-right: 10px;
        cursor: pointer;
    }
}

@media screen and (max-width: 900px) {
    .profile-page {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .porfile-page-personal-section {
        border: none;
    }

    .porfile-page-profile-section {
        width: 100%;
    }

    .porfile-page-personal-section {
        width: 100%;
    }

    .porfile-page-experience-section {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .porfile-page-profile-section {
        width: 90%;
    }

    .porfile-page-personal-section {
        width: 90%;
    }

    .porfile-page-experience-section {
        width: 90%;
    }
}